Repository AibelDevs/action-toolbox, pull requests merged in 2023-12, with the labels that each got.

#3 fix: minor change
  README.md
Labels: release-auto

#4 chore: add calculation preview of next version
  .github/workflows/tool-generate-semantic-version.yaml
  .github/workflows/tool-pr-linter.yaml
  .github/workflows/tool-review-pr.yaml
  .github/workflows/tool-review-python-packaging.yaml
  README.md
Labels: release-skip

#6 chore: Add missing inputs to workflows and minor conda fixes
  .github/workflows/tool-pr-linter.yaml
  .github/workflows/tool-release-conda.yaml
  .github/workflows/tool-review-pr.yaml
  .github/workflows/tool-review-python.yaml
Labels: release-skip

#7 feat!: initial stable release
  README.md
Labels: release-auto

#10 feat: Add simplified default tools and fix pre-release bumping py and json projects
  .github/workflows/default-tool-pr-review.yaml
  .github/workflows/default-tool-pre-release-dispatch.yaml
  .github/workflows/default-tool-release.yaml
  .github/workflows/pr-review.yaml
  .github/workflows/tag-on-pr-merge.yaml
  .github/workflows/tool-conda-variants-matrix.yaml
  .github/workflows/tool-generate-semantic-version.yaml
  .github/workflows/tool-load-config.yaml
  .github/workflows/tool-pr-linter.yaml
  .github/workflows/tool-pr-version-calculate.yaml
  .github/workflows/tool-release-conda.yaml
  .github/workflows/tool-release-docker.yaml
  .github/workflows/tool-release-gitops-update.yaml
  .github/workflows/tool-release-pip.yaml
  .github/workflows/tool-review-docker.yaml
  .github/workflows/tool-review-gitops.yaml
  .github/workflows/tool-review-pr.yaml
  .github/workflows/tool-review-python.yaml
Labels: release-auto

#11 fix: Fix bug in pylint linting and issues from previous workflow split
  .github/workflows/default-tool-pr-review.yaml
  .github/workflows/tool-pr-version-calculate.yaml
  .github/workflows/tool-review-python-lint.yaml
  .github/workflows/tool-review-python.yaml
Labels: release-auto

#12 feat: add option for adding extra conda channel
  .github/workflows/default-tool-pr-review.yaml
  .github/workflows/default-tool-pre-release-dispatch.yaml
  .github/workflows/default-tool-release.yaml
  .github/workflows/tool-load-config.yaml
  .github/workflows/tool-pr-linter.yaml
  .github/workflows/tool-release-conda.yaml
  .github/workflows/tool-review-python-packaging.yaml
  action_config.toml
Labels: release-auto

#13 fix: add missing json module and have the option of testing silence-bot label
  .github/workflows/tool-release-conda.yaml
  action_config.toml
Labels: release-auto, silence-bot

#14 fix: add fix for pre-release number calculation on repositories with other…
  .github/workflows/default-tool-pre-release-dispatch.yaml
Labels: release-auto

#15 fix: do not test conda package during publish task
  .github/workflows/tool-load-config.yaml
  .github/workflows/tool-release-conda.yaml
Labels: release-auto

#16 feat: allow passing in the desired pre-release level for dispatch workflows
  .github/workflows/default-tool-pre-release-dispatch.yaml
  .github/workflows/tool-release-conda.yaml
Labels: release-auto, silence-bot

#18 fix: calculate version / release when using skip release
  .github/workflows/default-tool-pr-review.yaml
  .github/workflows/tool-generate-semantic-version.yaml
  .github/workflows/tool-load-config.yaml
  .github/workflows/tool-pr-linter.yaml
  .github/workflows/tool-pr-version-calculate.yaml
  .github/workflows/tool-release-docker.yaml
  .github/workflows/tool-release-gitops-update.yaml
  .github/workflows/tool-review-docker.yaml
  .github/workflows/tool-review-gitops.yaml
  .github/workflows/tool-review-pr.yaml
Labels: release-skip

#19 fix: Manual dispatch
  .github/workflows/manual-dispatch-release.yaml
  .github/workflows/tool-generate-semantic-version.yaml
  .github/workflows/tool-pr-version-calculate.yaml
  .github/workflows/tool-review-pr.yaml
Labels: release-auto, silence-bot

#21 fix: use graceful exit for pr version calc
  .github/workflows/tool-pr-version-calculate.yaml
Labels: release-auto

#23 fix: docker / gitops inputs and docker latest tag to action_config.yaml
  .github/workflows/default-tool-pre-release-dispatch.yaml
  .github/workflows/tool-release-docker.yaml
  .github/workflows/tool-release-gitops-update.yaml
  action_config.toml
Labels: release-auto
